@import "variables";
@import "mixin";
.container {
  @include center;
  flex-direction: column;
  width: 100vw;
  padding: 1rem 200px 3rem 200px;
  margin-top: 6rem;
  width: 86vw;
  margin-left: 7vw;
  border-radius: 12px;
  background-color: white;
  padding-bottom: 3rem;
}
.image_container {
  width: 60vw;
  @include center;
}
.text {
  padding: 1rem 0;
  color: $dark_text;
  width: 60vw;
  text-align: right;
}
